@import "./WLTS.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./journal.scss";
@import "./usermodals.scss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    content: "";
    background-image:  url("../../Images/backgroundimage-dark.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: repeat-x;
    padding-right: 0px !important;
}