@import "./WLTS.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./journal.scss";
@import "./usermodals.scss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    content: "";
    background-image:  url("../../Images/backgroundimage-dark.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    //opacity: 0.75;
    background-repeat: repeat-x;
    padding-right: 0px !important;
}

#root {
    background-color: rgba( 29, 37,134,0.65);
    height: 100vh;
}