@import "./variables.scss";

.journal-container {
    margin-bottom: 100px;

    .journal-header {
        font-size: 50px;
    }

    h2 {
        font-family: "MyFont";
        font-size: 20px;
        color: $color-secondary-1-0;
    }

    .login-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        button {
            margin: 10px 0;
        }
    }

    .sidebar-and-articles {
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 20px;
    }


    .journal-sidebar-container {
        margin-right: 20px;
        padding: 20px;
    }

    .article-container {
        padding: 10px;
        border-left: 1px solid lightgray;

        .journal-article {
            padding: 20px;
            border: 1px solid lightgray;
            border-radius: 10px;
            margin-bottom: 20px;

            .article-header-row {
                display: flex;
                justify-content: space-between;

                button {
                    width: 35px;
                    height: 35px;
                    margin-left: 10px;
                }
            }

            .article-actions {
                display: flex;
                flex-direction: row;
            }
        }

        h3 {
            margin-bottom: 0px;
        }

        .article-date {
            font-size: 12px;
            margin-bottom: 20px;
        }
    }

    .logout-container {
        color: white;
        font-weight: 900;

        button {
            margin-left: 20px;
        }
    }


    .new-entry-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        .entry-links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .entry-link-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .name {
                flex-grow: 1;
                margin-right: 10px;
            }

            .url {
                flex-grow: 2;
                margin-left: 10px;
            }
        }

        #add-entry-link {
            max-width: 100px;
            margin: 10px;
        }

        #remove-link {
            height: 55px;
            margin: 16px 0 0 16px;
        }

        .text-editor-actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            button {
                margin: 10px;
            }
        }
    }
}