@import "./variables.scss";

.user-login-modal {
    .login-error {
        font-size: 12px;
        color: red;
    }

    .login-success {
        font-size: 12px;

        i {
            font-size: 16px;
            color: green;
            margin: 10px;
        }
    }
}

.password-change-modal {
    .password-change-error {
        font-size: 12px;
        color: red;
    }
}