@import "./variables.scss";

.user-login-modal {
    .login-error {
        font-size: 12px;
        color: red;
    }

    .login-success {
        font-size: 12px;

        i {
            font-size: 16px;
            color: #28d428;
            margin: 10px;
        }
    }

    .login-information-container {
        position: fixed;
        margin-top: 30px;
    }

    .logging-in-indicator {
        width: 20px !important;
        height: 20px !important;
        margin-right: 20px;
    }
    
}

.password-change-modal {
    .password-change-error {
        font-size: 12px;
        color: red;
    }
}