@import "./variables.scss";

@font-face {
    font-family: 'MyFont';
    src: url("../../Fonts/edunline.ttf");
}

.WLTS-Software {
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;

    .main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header-container {
            width: 100%;
            height: 200px;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .header {
                color: $color-secondary-1-2;
                font-weight: 900;
                font-size: 100px;
                //font-family: "Roboto";
                text-shadow: -3px 0 $color-primary-4, 0 3px $color-primary-4, 3px 0 $color-primary-4, 0 -3px $color-primary-4;
                margin: 10px auto;
                font-family: "MyFont";
                line-height: 70px;
            }
        }

        .route-content {
            height: 100%;
            margin: 10px;
            padding: 25px;
            border-radius: 2px;
            max-width: 1200px;
            min-width: 500px;
            align-self: center;
            //box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.8);
            //background: rgba(255, 255, 255, 0.9);
            justify-content: center;
            display: flex;
            flex-direction: column;

            h2 {
                text-align: center;
            }

            .home {
                .add-container {
                    margin-top: 25px;
                    padding: 10px;
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    color: $color-secondary-1-2;
                   

                    .paragraph {
                        margin: 15px auto;
                        max-width: 700px;
                        line-height: 50px;
                        text-shadow: -3px 0 $color-primary-4, 0 3px $color-primary-4, 3px 0 $color-primary-4, 0 -3px $color-primary-4;

                        &.important {
                            font-weight: bold;
                        }
                    }

                    .to-do {
                        padding: 25px;
                        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.8);
                        background: rgba(255, 255, 255, 0.9);
                        color: black;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 100px;

                        .header {
                            margin: 15px 0;
                        }

                        .list-item {
                            font-size: 18px;
                            padding: 10px 0;
                        }

                        .fas {
                            color: black;
                            margin: 0 15px;
                            font-size: 15px;
                        }
                    }
                }
            }
           
        }

    }

    h1, h2 {
        color: $color-primary-3;
    }
}

.fas {
    color: white;
}

.sidebar-container {
    background-color: #1B293F;
    height: 100%;
    min-width: 200px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    
    .fas {
        color: $color-secondary-1-2;
    }

    .links-container {
        font-size: 20px;
        i {
            margin: 10px 10px;
            min-width: 20px;
        }
    }
}



